.parallaxContainer {
    box-sizing: border-box;
    position: relative;
    color: #fff;
    width: 100%;
    background: linear-gradient(rgba(2, 2, 2, 0.527), rgba(5, 5, 5, 0.509)), url(../../assets/img/cta-bg.jpg);
    background-repeat:no-repeat ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1180px;
    padding: 60px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallaxTitle {
    font-size: 26px;
}

.parallaxText {
    font-size: 15px;
    margin: 20px 0;
    text-align: justify;
}

@media screen and (max-width:568px) {
    .container{
        padding: 60px 20px;
    }
}