@font-face {
  font-family: 'irsans';
  src: url(../public/fonts/FontsFree-Net-ir_sans.ttf);
}

.App * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'irsans',sans-serif;
  direction: rtl;
}